<html>
<head>
<title> Planner </title>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

</head>
<body>
<div>
<h1>Welcome to your own personal planner!!!!</h1>
<div class="page-header">
    {% if user.is_authenticated %}
        <p class="top-menu">Hello {{ user.username }} <small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>
		<a href="{% url 'event_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"> New Event</span></a>
    {% else %}
        <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock">Login</span></a>
    {% endif %}
    <p><a href="/">Back to home</a></p>
</div>
<h2>One solution to all your procrastination troubles!! ;) </h2>
</div>
<div>
{% block content %}
{% endblock %}
</div>
</body>
</html>