{% extends 'planner/base.html' %}
{% block content %}
<!-- Page Content -->
    <div class="container">

      
{% if user.is_authenticated %}
<!-- Page Heading -->
      <h1 class="my-4">{{ user.username }}'s events
      </h1>
	  <div class="row">
{% for event in events %}
		
        <div class="col-lg-4 col-sm-6 portfolio-item">
    
            <div class="card-body">
              <h4 class="card-title">
                <a href="{% url 'event_detail' pk=event.pk %}">{{event.eventname}}</a>
              </h4>
              <p class="card-text">{{event.description}}</p>
			  <h4 class="card-text">You have to finish this by {{event.deadline_date}}}</h4>
			  <h4 class="card-text">{{event.get_remaining_days}}</h4>
            </div>
         
        </div>
		
{% endfor %}
</div>	
{% endif %}		
		

{% if not user.is_authenticated %}
<div>
<h1 class="my-4">Here are some sample event reminders to show you guys how cool we are :)!!</h1>

<div class="row">
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Start your Python Project</a>
              </h4>
              <p class="card-text">Description needed? -_-</p>
			  <h4 class="card-text">Dude/Dudess(?) You have to finish this by Oct. 27, 2017, 6 p.m.</h4>
			  <h4 class="card-text">You have 3 days 8 hours 4 minutes remaining! Hurry up!!</h4>
            </div>
          
        </div>
		<div class="col-lg-4 col-sm-6 portfolio-item">
          
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">You are failing in your IoT project :)</a>
              </h4>
              <p class="card-text">Still need an effing description? :)</p>
			  <h4 class="card-text">Dude/Dudess(?) You have to finish this by Oct. 26, 2017, 6 p.m.</h4>
			  <h4 class="card-text">You have 2 days 8 hours 6 minutes remaining! Hurry up!!</h4>
            </div>
          
        </div>
		

</div>
{% endif %}
</div>
    <!-- /.container -->
{% if not user.is_authenticated %}
<p> Not a member? Whatcha waiting for?</p>

<a href="{% url 'sign_up' %}" ><button>Sign up!</button>
{% endif %}
</div>
{% endblock %}

