{% extends 'planner/base.html' %}
{% block content %}
<!-- Page Content -->
    <div class="container">

      
{% if user.is_authenticated %}
<!-- Page Heading -->
      <h1 class="my-4">&nbsp;{{ user.username }}'s events
      </h1>
	  <div class="container">
	  <hr>
<table >
	<tr>
	<th style="border-left: 1px solid #ddd; border-right: 1px solid #ddd"><a href="/">&emsp; All events &emsp;</a></th>
	<th style="border-right: 1px solid #ddd">&emsp; &emsp;</th>
    <th style="border-left: 1px solid #ddd; border-right: 1px solid #ddd" ><a href="{% url 'official_events' %}">&emsp; Official events &emsp;</a></th>
	<th style="border-right: 1px solid #ddd">&emsp; &emsp;</th>
    <th style="border-left: 1px solid #ddd; border-right: 1px solid #ddd" ><a href="{% url 'personal_events' %}">&emsp; Personal events &emsp;</a></th>
	<th style="border-right: 1px solid #ddd">&emsp; &emsp;</th>
    <th style="border-left: 1px solid #ddd; border-right: 1px solid #ddd"><a href="{% url 'fun_events' %}">&emsp;Fun events &emsp;</a></th>
  </tr>
 </table>
 <hr>
  </div>
 <br>
 <br>
	  <div class="row">
{% for event in events %}
		
        <div class="col-lg-4 col-sm-6 portfolio-item">
    
	<center><b style="color:{{event.get_color}}">{{event.get_priority}}</b></center>
            <div class="card-body">
              <h4 class="card-title">
                <a href="{% url 'event_detail' pk=event.pk %}" style="color:{{event.get_color}}" >{{event.eventname}}</a>
              </h4>
              <p class="card-text">{{event.description}}</p>
			  <h4 class="card-text">You have to finish this by {{event.deadline_date}}}</h4>
			  <h4 class="card-text">{{event.get_remaining_days}}</h4>
            </div>
         </div>
        
		
{% endfor %}
</div>	
{% endif %}		
		

{% if not user.is_authenticated %}
<br>
<h1> Here are some sample events to show how cool we are! :)</h1>

<div class="container">
	  <hr>
<table >
	<tr>
	<th style="border-left: 1px solid #ddd; border-right: 1px solid #ddd"><a href="/">&emsp; All events &emsp;</a></th>
	<th style="border-right: 1px solid #ddd">&emsp; &emsp;</th>
    <th style="border-left: 1px solid #ddd; border-right: 1px solid #ddd" ><a href="{% url 'login' %}">&emsp; Official events &emsp;</a></th>
	<th style="border-right: 1px solid #ddd">&emsp; &emsp;</th>
    <th style="border-left: 1px solid #ddd; border-right: 1px solid #ddd" ><a href="{% url 'login' %}">&emsp; Personal events &emsp;</a></th>
	<th style="border-right: 1px solid #ddd">&emsp; &emsp;</th>
    <th style="border-left: 1px solid #ddd; border-right: 1px solid #ddd"><a href="{% url 'login' %}">&emsp;Fun events &emsp;</a></th>
  </tr>
 </table>
 <hr>
  </div>
  <br>
<div class="row">
{% for event in events %}
		
        <div class="col-lg-4 col-sm-6 portfolio-item">
    
	<center><b style="color:{{event.get_color}}">{{event.get_priority}}</b></center>
            <div class="card-body">
              <h4 class="card-title">
                <a href="{% url 'login' %}" style="color:{{event.get_color}}" >{{event.eventname}}</a>
              </h4>
              <p class="card-text">{{event.description}}</p>
			  <h4 class="card-text">You have to finish this by {{event.deadline_date}}}</h4>
			  <h4 class="card-text">{{event.get_remaining_days}}</h4>
            </div>
         </div>
        
		
{% endfor %}
</div>	
	
{% endif %}
</div>
    <!-- /.container -->
{% if not user.is_authenticated %}
<center>
<p><b> Not a member? Whatcha waiting for?</b></p>

<a href="{% url 'sign_up' %}" ><button>Sign up!</button></a>
<br>
<br>
</center>
{% endif %}
</div>
{% endblock %}

