{% extends "planner/base.html" %}

{% block content %}
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
	
<center>
<h1 class="my-4">Login</h1>
    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
        <table>
        <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </tr>
        </table>
<br>
        <input type="submit" value="Login" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
	</center>
	<br>
	
	<center>
<p><b> Not a member? Whatcha waiting for?</b></p>

<a href="{% url 'sign_up' %}" ><button>Sign up!</button></a>
<br>
<br>
</center>
{% endblock %}